@use '../../styles/partials/mixins';

.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-logo {
  @include mixins.logo;
}

.dashboard-main {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
  }

  &__container {
    @include mixins.card;
    // width: 90vw;
    width: 90%;
    display: flex;
    flex-direction: column;

    &__image {
      //   width: 50%; use forr tablet and desktop
      height: 15rem;
      border-radius: 0.5rem;
      margin: 1rem;
      object-fit: cover;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.dashboard-subtext {
  width: 100%;
  text-align: center;
}

.link {
  @include mixins.link;
}

.footer {
}
